/* Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the modal is above other content */
  }
  
  .modalContent {
    background: rgba(24, 24, 27, 1);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 80%;
    position: relative; /* Required for the close button positioning */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease; /* Optional: Adds a fade-in animation */
  }
  
  .closespan {
    position: absolute;
    top: -0.7rem;
    left: 24.5rem;
   
    /* background: none; */
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.2s ease;
  }
  
  .closeButton:hover {
    color: #000;
  }

  .buttonContainer{
    display: flex;
    margin: 2rem;
    cursor: pointer;
    gap: 12rem;
  }

  .doneButton:hover {
    color: rgba(75, 131, 255, 1);
  }

  .cancelButton:hover {
    color: rgba(75, 131, 255, 1);
  }
 
  /* Optional: Fade-in animation for the modal */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modalContent input {
    border-radius: 5px;
    background: none;
    border: none;
    height: 55px;
    font-size: 18px;
    background-color: rgba(55, 55, 62, 1);
    color: #ffffff;
    padding: 5px 10px;
   width: 100%;
    flex-basis: 20%;
  }