.container {
  margin: 45px 60px 13px 100px; /* top right bottom left */
}
.headerinfo {
  margin: 45px 20px 50px 220px;
  border-radius: 15px;
  display: flex;
  gap: 10rem;
}
.header {
  height: 100px;
  width: 150px;
  background-color: rgba(50, 50, 50, 1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.emptydata {
  color: rgba(105, 105, 105, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navbar.module.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 70px;
  background: #121212;
  color: #ffffff;
}

.navbar input {
  border-radius: 5px;
  background: none;
  border: none;
  height: 35px;
  font-size: 18px;
  background-color: rgba(55, 55, 62, 1);
  color: #ffffff;
  padding: 5px 10px;
  margin-right: 10px;
  flex-basis: 20%;
}

.navbar-center {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.navbar-center span,
.navbar-center a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  height: 35px;
  width: 85px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-center span:hover,
.navbar-center a:hover {
  border: 1px solid rgba(126, 166, 255, 1);
  color: rgba(126, 166, 255, 1);
}

.navbar-end {
  display: flex;
  align-items: center;
  flex-basis: 20%;
  justify-content: flex-end;
}

.navbar-end span {
  margin-right: 10px;
}

.share {
  background-color: rgba(132, 136, 144, 1);
  height: 35px;
  width: 85px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.save {
  background-color: rgba(74, 222, 128, 0.8);
  height: 35px;
  width: 85px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
